@import "../abstracts/media";
@import "../abstracts/variables";

.logo {
  content: url($images-root + "logo.png");
  @include phones {
    content: url($images-root + "logo.png") !important;
  }
  @include tablets {
    content: url($images-root + "logo.png") !important;
  }
}
